/* Mixins*/
@mixin background-light {
    background-color: lighten($background, 3%);
}

@mixin background-light2 {
    background-color: lighten($background2, 3%);
}

@mixin btn-1 {
    margin-left: 8%;
    padding: 14px;
    width: 85%;
    font-family: 'robotoregular';
    font-size: 1.5em;
    color: #FFFFFF;
    background: linear-gradient($secondary, $primary);
    border-radius: 35px;
    border: 0px solid #FFFFFF;
    box-shadow: 0px 5px 11px -2px rgba(127, 127, 127, 0.71);
    cursor: pointer;
}

@mixin btn-tablet {
    margin-left: 22%;
    padding: 14px;
    width: 55%;
    font-family: 'robotoregular';
    font-size: 1.5em;
    color: #FFFFFF;
    background: linear-gradient($secondary, $primary);
    border-radius: 35px;
    border: 0px solid #FFFFFF;
    box-shadow: 0px 5px 11px -2px rgba(127, 127, 127, 0.71);
    cursor: pointer;
}

@mixin btn-computer {
    margin-left: 35%;
    padding: 14px;
    width: 30%;
    font-family: 'robotoregular';
    font-size: 1.5em;
    color: #FFFFFF;
    background: linear-gradient($secondary, $primary);
    border-radius: 35px;
    border: 0px solid #FFFFFF;
    box-shadow: 0px 5px 11px -2px rgba(127, 127, 127, 0.71);
    cursor: pointer;
}

@mixin box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    margin-top: -10px;
    margin-bottom: -5px;
}

@mixin background-box {
    background-color: white;
    box-shadow: $box-shadow-btn;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

@mixin background-box-tablet {
    padding: 5px;
    padding-right: 50px;
    background-color: white;
    box-shadow: $box-shadow-btn;
    border-radius: 20px;
    margin-bottom: 25px;
    margin-right: 5%;
}

@mixin icon-number {
    position: relative;
    top: 60px;
    right: 20px;
    font-size: 30px;
    color: $primary;
}

@mixin icon-number-tablet {
    position: relative;
    top: 65px;
    right: 20px;
    font-size: 30px;
    color: $primary;
}

@mixin icon-number-desk {
    position: relative;
    top: 115px;
    right: 20px;
    font-size: 30px;
    color: $primary;
}

@mixin images-card {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@mixin header-logo {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 25px;
    padding-bottom: 10px;
    margin: -10px;
}

@mixin container-annexe{
    position: relative;
    display: flex;
    justify-content: flex-start;
    font-size: 0.8em;
    background-color: white;
    border-radius: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 80px;
    margin-right: 10px;
    box-shadow: $box-shadow-btn;
    cursor: pointer;
}

@mixin label {
    font-size: 1.2em;
    display: inline-block;
    cursor: pointer;
    position: relative;
    right: 23px;
    opacity: 0;
    transition: transform 100ms ease-out;
    transform: scale(0.55);
}

@mixin inputradio {
    transform: scale(1.2);
    opacity: 1;
    color: red;
}