/* Mixins*/
@mixin background-light {
    background-color: lighten($background, 3%);
}

@mixin box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    margin-top: -10px;
    margin-bottom: -5px;
}

@mixin background-box {
    background-color: white;
    box-shadow: $box-shadow-btn;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

@mixin icon-number {
    position: relative;
    top: 44px;
    right: 20px;
    font-size: 30px;
    color: $primary;
}

@mixin images-card {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}