/* Ajout des polices */

/* logo et titre */
@font-face {
  font-family: 'shrikhand';
  src: url('/css/polices/shrikhand/shrikhand-regular-webfont.woff2') format('woff2'),
      url('/css/polices/shrikhand/shrikhand-regular-webfont.woff') format('woff'),
      url('/css/polices/shrikhand/shrikhand-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Texte regular*/
@font-face {
  font-family: 'robotoregular';
  src: url('/css/polices/roboto/regular/roboto-regular-webfont.woff2') format('woff2'),
      url('/css/polices/roboto/regular/roboto-regular-webfont.woff') format('woff'),
      url('/css/polices/roboto/regular/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Texte italic */
@font-face {
  font-family: 'robotoitalic';
  src: url('/css/polices/roboto/italic/roboto-italic-webfont.woff2') format('woff2'),
      url('/css/polices/roboto/italic/roboto-italic-webfont.woff') format('woff'),
      url('/css/polices/roboto/italic/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Texte bold */
@font-face {
  font-family: 'robotobold';
  src: url('/css/polices/roboto/bold/roboto-bold-webfont.woff2') format('woff2'),
      url('/css/polices/roboto/bold/roboto-bold-webfont.woff') format('woff'),
      url('/css/polices/roboto/bold/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}