@import './icones';
@import './polices';
@import './variables';
@import './mixins';

body {
    font-family: 'robotoregular';
    width: auto;
}

.head-logo {
    @include header-logo;
}

header {

    margin-right: 3px;


    @media (min-width:992px) {
        background-color: #f1f1f1;
        width: auto;
        margin-left: -5px;
        padding-right: 10px;
        margin-right: -7px;
        margin-bottom: -5px;
    }

    @media (min-width:768px) and (max-width:992px) {
        background-color: #f1f1f1;
        width: auto;
        margin-left: -10px;
        padding-right: 10px;
        margin-right: -7px;
        margin-bottom: -5px;
    }
}


header img {
    @media (min-width:992px) {
        border-radius: 20px;
    }

    @media (min-width:768px) and (max-width:992px) {
        border-radius: 20px;
    }
}

.head-loc {
    font-family: 'robotoregular';
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: row-reverse;
    background-color: $background;
    margin-left: -8px;
    margin-right: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px -1px 4px 1px rgba(170, 170, 170, 0.81);
}

.icon-location {
    font-size: $size-ico;
    color: $color-ico;
    padding-right: 10px;

}

.head {
    @include background-light;
    margin: -14px;
    padding-top: 8%;
    padding-bottom: 1%;
    margin-bottom: 30px;

    @media (min-width:992px) {
        padding-top: 2%;
    }

    &-title {
        font-family: 'robotoregular';
        font-size: 0.7em;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 12%;
        padding-left: 15%;
        padding-right: 15%;
    }

    &-subtitle {
        font-family: 'robotoitalic';
        font-size: 1.32em;
        margin-top: -8px;
        margin-bottom: 8%;
    }

    &-btn {
        margin-left: 8%;
        padding: 14px;
        width: 85%;
        font-family: 'robotoregular';
        font-size: 1.5em;
        color: #FFFFFF;
        background: linear-gradient($secondary, $primary);
        border-radius: 35px;
        border: 0px solid #FFFFFF;
        box-shadow: 0px 5px 11px -2px rgba(127, 127, 127, 0.71);
        cursor: pointer;

        @media (min-width:768px) and (max-width:992px) {
            @include btn-tablet;
        }

        @media (min-width:992px) {
            @include btn-computer;
        }

    }

    &-btn:hover {
        background: linear-gradient(lighten($secondary, 5%), $primary);
        box-shadow: 1px 5px 12px -1px darken($box-shadow-color, 50%);
    }

}

a:visited {
    color: black;
}

a:link {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.icon-number {
    @include icon-number;

    @media (min-width:768px) and (max-width:992px) {
        @include icon-number-tablet;
    }

    @media (min-width:992px) {
        @include icon-number-desk;
    }

}

.icon-number1 {
    @include icon-number;

    @media (min-width:768px) and (max-width:992px) {
        @include icon-number-tablet;
    }

    @media (min-width:992px) {
        @include icon-number-desk;
    }
}

.icon-number2 {
    @include icon-number;

    @media (min-width:768px) and (max-width:992px) {
        @include icon-number-tablet;
    }

    @media (min-width:992px) {
        @include icon-number-desk;
    }
}

.icon-tablet,
.icon-list-bullet,
.icon-store-front {
    font-size: $size-ico+2px;
    color: rgba(73, 72, 72, 0.8);
    margin-right: 20px;
    margin-top: 18px;
}

.anim-heart,
.anim-heart-index {
    position: relative;
    cursor: pointer;
}

.icon-heart-regular {
    font-size: $size-ico+2px;
}

.anim-heart-index span {
    font-size: $size-ico;
    position: absolute;
    bottom: 2px;
}

.anim-heart span {
    font-size: $size-ico;
    position: absolute;
    bottom: -8px;
}

.nav h1 {
    font-size: 1.4em;
    margin-bottom: 10%;
}

.nav {
    display: flex;
    flex-direction: column;

    @media (min-width:768px) and (max-width:992px) {
        margin-left: 1%;
    }

    & h1 {
        margin-bottom: -5px;
    }

    &-container1 {
        padding-left: 8%;
        padding-right: 21%;
        padding-top: 5%;
        padding-bottom: 5%;
        @include background-light;
        border-radius: 20px;
        border: 0px solid #FFFFFF;
        box-shadow: $box-shadow-btn;
        margin-bottom: 2%;

        & a {
            display: flex;

            @media (min-width:768px) and (max-width:992px) {
                justify-content: center;
                margin-left: 15%;
            }

            @media (min-width:992px) {
                justify-content: center;
                margin-left: 15%;
            }

        }
    }

    &-container2 {
        padding-left: 8%;
        padding-right: 25%;
        padding-top: 5%;
        padding-bottom: 5%;
        @include background-light;
        border-radius: 20px;
        border: 0px solid #FFFFFF;
        box-shadow: $box-shadow-btn;
        margin-bottom: 2%;

        & a {
            display: flex;

            @media (min-width:768px) and (max-width:992px) {
                justify-content: center;
                margin-left: 20%;
            }

            @media (min-width:992px) {
                justify-content: center;
                margin-left: 21.5%;
            }


        }

    }

    &-container3 {
        padding-left: 8%;
        padding-right: 24%;
        padding-top: 5%;
        padding-bottom: 5%;
        @include background-light;
        border-radius: 20px;
        border: 0px solid #FFFFFF;
        box-shadow: $box-shadow-btn;
        margin-bottom: 20%;

        @media (min-width:992px) {
            margin-bottom: 10%;
        }

        & a {
            display: flex;

            @media (min-width:768px) and (max-width:992px) {
                justify-content: center;
                margin-left: 20%;
            }

            @media (min-width:992px) {
                justify-content: center;
                margin-left: 21%;
            }

        }

    }

    &-group {
        margin-left: 15px;
        margin-right: 15px;
    }
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

.article {

    display: flex;
    flex-direction: column;
    @include background-light;
    margin: -5px;
    padding-top: 7%;
    margin-bottom: 8%;
    margin-top: -20px;
    padding-bottom: 1%;

    @media (min-width:992px) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    @media (min-width:768px) and (max-width:992px) {
        align-items: center;
        margin: auto;
    }

    & h1 {
        font-size: 2em;
        margin: 5%;

        @media (min-width:992px) {
            display: flex;
            justify-content: center;
        }
    }

    &-background1 {
        @include background-box;

        @media (min-width:768px) and (max-width:992px) {
            @include background-box-tablet;
            margin-left: 10%;
        }

        @media (min-width:992px) {
            @include background-box-desk;
        }
    }

    &-image1 {
        @include images-card;
    }

    &-group1 {
        @include box;
    }

    &-icon1 {
        display: flex;
        align-items: flex-end;
    }

    &-group1 h2 {
        font-family: 'robotobold';
        font-size: 1.1em;
    }

    &-group1 p {
        margin-top: -10px;
    }

    &-background2 {
        @include background-box;

        @media (min-width:768px) and (max-width:992px) {
            @include background-box-tablet;
            margin-left: 10%;
        }

        @media (min-width:992px) {
            @include background-box-desk;
        }
    }

    &-image2 {
        @include images-card;
    }

    &-group2 {
        @include box;
    }

    &-icon2 {
        display: flex;
        align-items: flex-end;
    }

    &-group2 h2 {
        font-family: 'robotobold';
        font-size: 1.1em;
    }

    &-group2 p {
        margin-top: -10px;
    }

    &-background3 {
        @include background-box;

        @media (min-width:768px) and (max-width:992px) {
            @include background-box-tablet;
            margin-left: 10%;
        }

        @media (min-width:992px) {
            @include background-box-desk;
        }
    }

    &-image3 {
        @include images-card;
    }

    &-group3 {
        @include box;
    }

    &-icon3 {
        display: flex;
        align-items: flex-end;
    }

    &-heart {
        margin-left: 149px;

        @media (min-width:768px) and (max-width:992px) {
            position: absolute;
            right: 0;
        }
    }

    &-heart label,
    &-heart2 label,
    &-heart3 label,
    &-heart4 label {
        @include label;
    }

    &-heart input[type="checkbox"]:checked+label,
    &-heart2 input[type="checkbox"]:checked+label,
    &-heart3 input[type="checkbox"]:checked+label,
    &-heart4 input[type="checkbox"]:checked+label,
    &-heart5 input[type="checkbox"]:checked+label {
        @include inputradio;
    }

    &-heart2 {
        margin-left: 149px;

        @media (min-width:768px) and (max-width:992px) {
            position: absolute;
            right: 0;
        }
    }

    &-heart3 {
        margin-left: 186px;

        @media (min-width:768px) and (max-width:992px) {
            position: absolute;
            right: 0;
        }
    }

    &-heart4 {
        margin-left: 149px;

        @media (min-width:768px) and (max-width:992px) {
            position: absolute;
            right: 0;
        }
    }

    &-heart5 label {
        font-size: 1.4em;
        display: inline-block;
        cursor: pointer;
        position: relative;
        right: 21px;
        opacity: 0;
        transition: transform 100ms ease-out;
        transform: scale(0.55);
    }

    &-group3 h2 {
        font-family: 'robotobold';
        font-size: 1.1em;
    }

    &-group3 p {
        margin-top: -10px;
    }

    &-background4 {
        @include background-box;

        @media (min-width:768px) and (max-width:992px) {
            @include background-box-tablet;
            margin-left: 10%;
            margin-bottom: 12%;
        }

        @media (min-width:992px) {
            @include background-box-desk;
        }
    }

    &-image4 {
        @include images-card;
    }

    &-group4 {
        @include box;
    }

    &-icon4 {
        display: flex;
        align-items: flex-end;
    }

    &-group4 h2 {
        font-family: 'robotobold';
        font-size: 1.1em;
    }

    &-group4 p {
        margin-top: -10px;
    }
}

footer {
    background-color: $color-footer;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: -10px;
    margin-top: -30px;
    margin-left: -8px;
    margin-right: -8px;

    & a,
    a:visited {
        color: white;
    }

    & img {
        filter: invert(1);

        @media (min-width:768px) and (max-width:992px) {
            height: 30px;
            width: 120px;
            margin-right: 20px;
        }

        @media (min-width:992px) {
            height: 30px;
            width: 120px;
            margin-right: 20px;
        }
    }

    & li {
        padding-top: 5px;

        @media (min-width:768px) and (max-width:992px) {
            margin-right: 25px;
        }

        @media (min-width:992px) {
            margin-right: 25px;
        }
    }

    @media (min-width:768px) and (max-width:992px) {
        display: flex;
        justify-content: center;
    }

    @media (min-width:992px) {
        display: flex;
        justify-content: center;
    }
}

.foot-logo {
    margin-left: 38px;

    @media (min-width:768px) and (max-width:992px) {
        display: flex;
        align-items: center;
    }

    @media (min-width:992px) {
        display: flex;
        align-items: center;
    }
}

.icon-location-food {
    margin-right: 5px;
}

.icon-user-add {
    margin-right: 5px;
}

/* Page "menu restaurants" */

.head-img {
    object-fit: cover;
    margin-top: 10px;
    margin-left: -8px;

    @media (min-width:992px) {
        margin-left: 40%;
    }

    @media (min-width:768px) and (max-width:992px) {
        margin-left: 27%;
    }
}

.head-container {
    font-family: 'shrikhand';
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include background-light2;
    font-size: 0.8em;
    padding: 25px;
    position: relative;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -11px;
    border-radius: 35px;

    @media (min-width:992px) {
        margin-left: -1%;
    }

    @media (min-width:768px) and (max-width:992px) {
        margin-left: -1%;
    }

    & h1 {
        @media (min-width: 992px) {
            margin-left: 1%;
        }

        @media (min-width:768px) and (max-width:992px) {
            margin-left: 1%;
        }
    }

}

input[type="radio"]:checked+.menu-container {

    .icon-checkmark-outline {
        transform: rotate(360deg);
    }

    >.bg-anim {
        opacity: 1;
        width: 80px;
    }

    >.menu-text p:nth-child(2) {
        transform: translate(-80px);
    }

    >.menu-text h2,
    p:nth-child(1) {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 200px;

        @media (min-width:768px) and (max-width:992px) {
            overflow: visible;
        }

        @media (min-width:992px) {
            overflow: visible;
        }
    }
}

input[type="radio"]:checked+.menu-container2 {

    .icon-checkmark-outline {
        transform: rotate(360deg);
    }

    >.bg-anim {
        opacity: 1;
        width: 80px;
    }

    >.menu-text p:nth-child(2) {
        transform: translate(-80px);
    }

    >.menu-text h2,
    p:nth-child(1) {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 200px;

        @media (min-width:768px) and (max-width:992px) {
            overflow: visible;
        }

        @media (min-width:992px) {
            overflow: visible;
        }
    }
}

.menu {
    margin-left: 10px;
    margin-top: -40px;

    & h1 {
        font-family: 'robotoregular';
        font-weight: 100;
        font-size: 1em;
        margin-left: 1px;
        border-bottom: solid 3px $tertiary;
        width: 40px;
        margin-top: 12%;
        margin-bottom: 15px;
    }

    &-container {
        position: relative;
        display: flex;
        justify-content: flex-start;
        font-size: 0.8em;
        background-color: white;
        border-radius: 20px;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-bottom: 10px;
        margin-right: 10px;
        box-shadow: $box-shadow-btn;
        cursor: pointer;

        &:hover .icon-checkmark-outline {
            transform: rotate(360deg);
        }

        &:hover>.bg-anim {
            opacity: 1;
            width: 80px;
        }

        &:hover>.menu-text p:nth-child(2) {
            transform: translate(-80px);
        }

        &:hover>.menu-text h2,
        p:nth-child(1) {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 200px;


            @media (min-width:768px) and (max-width:992px) {
                overflow: visible;
            }

            @media (min-width:992px) {
                overflow: visible;
            }
        }
    }

    &-soustitre {
        margin-left: 20px;
        margin-top: -10px;
    }


    &-container h2 {
        margin-left: 18px;
    }

    &-prix {
        transition: transform 300ms ease-in-out;
        position: absolute;
        right: 5px;
        bottom: 18px;
        font-family: 'robotobold';
    }

    &-flex {
        display: flex;
        justify-content: space-between;
    }

    &-container2 {
        @include container-annexe;

        &:hover .icon-checkmark-outline {
            transform: rotate(360deg);
            transition: 0.6s;
        }

        &:hover>.bg-anim {
            opacity: 1;
            width: 80px;
        }

        &:hover>.menu-text p:nth-child(2) {
            transform: translate(-80px);
        }

        &:hover>.menu-text h2,
        p:nth-child(1) {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 200px;

            @media (min-width:768px) and (max-width:992px) {
                overflow: visible;
            }

            @media (min-width:992px) {
                overflow: visible;
            }
        }

    }

    &-container2 h2 {
        margin-left: 18px;
    }

    &-btn {
        position: relative;
        bottom: 25px;
        left: 5px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        @include btn-1;
        width: 53%;
        padding: 12px;
        font-size: 1.1em;
        box-shadow: $box-shadow-btn;

        @media (min-width:992px) {
            width: 20%;
            margin-left: 38%;
        }
    }

    &-btn:hover {
        background: linear-gradient(lighten($secondary, 5%), $primary);
        box-shadow: 1px 5px 12px -1px darken($box-shadow-color, 50%);
    }
}

/* Animation checkmark plats réstaurants */

.bg-anim {
    opacity: 0;
    transition: all 330ms ease-in-out;
    position: absolute;
    right: 0;
    height: 80px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiary;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.icon-checkmark-outline {
    transition: transform 0.6s;
    display: inline-block;
    color: #FFFFFF;
    font-size: 1.7em;
    cursor: pointer;
}


/* Animation apparition du menu */

.menu-anim1 {
    opacity: 0;
    animation-name: apparition;
    animation-duration: 800ms;
    animation-fill-mode: both;
    transform: translateY(-20px);
    transition: transform 100ms ease-in-out 50ms;

    @media (min-width:992px) {
        margin-left: 10px;
    }
}

.menu-anim2 {
    opacity: 0;
    animation-name: apparition;
    animation-duration: 800ms;
    animation-delay: 0.8s;
    animation-fill-mode: both;
    transform: translateY(-20px);
    transition: transform 100ms ease-in-out 50ms;

    @media (min-width:992px) {
        margin-left: 10px;
    }
}

.menu-anim3 {
    opacity: 0;
    animation-name: apparition;
    animation-duration: 800ms;
    animation-delay: 1.6s;
    animation-fill-mode: both;
    transform: translateY(-20px);
    transition: transform 100ms ease-in-out 50ms;

    @media (min-width:992px) {
        margin-left: 10px;
    }
}

@keyframes apparition {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    15% {
        opacity: .1;
        transform: translateY(-16px);
    }

    25% {
        opacity: .2;
        transform: translateY(-11px);
    }

    45% {
        opacity: .4;
        transform: translateY(-2px);
    }

    85% {
        opacity: .8;
        transform: translateY(0px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

/* Animation loading spinner */

.loader {
    /* Création du loader */
    opacity: 1;
    border: 10px solid #FFFFFF;
    border-top: 10px solid $primary;
    border-bottom: 10px solid $secondary;
    border-right: 10px solid #FFFFFF;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1.5s linear infinite;
    animation-fill-mode: forwards;
    /* Placement loader */
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes spin {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.bloc-page {
    opacity: 0;
    animation: load_page 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    background-color: white;
}

@keyframes load_page {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}