@import './icones';
@import './polices';
@import './variables';
@import './mixins';

body {
    font-family: 'robotoregular';
    width: auto;
}

.head-logo {
    @include header-logo;
}

.head-loc {
    font-family: 'robotoregular';
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: row-reverse;
    background-color: $background;
    margin-left: -8px;
    margin-right: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px -1px 4px 1px rgba(170, 170, 170, 0.81);
}

.icon-location {
    font-size: $size-ico;
    color: $color-ico;
    padding-right: 10px;

}

.head {
    @include background-light;
    margin: -14px;
    padding-top: 8%;
    padding-bottom: 1%;
    margin-bottom: 30px;

    &-title {
        font-family: 'robotoregular';
        font-size: 0.7em;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 12%;
        padding-left: 15%;
        padding-right: 15%;
    }

    &-subtitle {
        font-family: 'robotoitalic';
        font-size: 1.32em;
        margin-top: -8px;
        margin-bottom: 8%;
    }

    &-btn {
        margin-left: 8%;
        padding: 14px;
        width: 85%;
        font-family: 'robotoregular';
        font-size: 1.5em;
        color: #FFFFFF;
        background: linear-gradient($secondary, $primary);
        border-radius: 35px;
        border: 0px solid #FFFFFF;
        box-shadow: 0px 5px 11px -2px rgba(127, 127, 127, 0.71);
        cursor: pointer;
    }

    &-btn:hover{
        background: linear-gradient(lighten($secondary, 5%),$primary);
        box-shadow: 1px 5px 12px -1px darken($box-shadow-color, 50%);
    }

}

a:visited {
    color: black;
}

a:link {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.icon-number {
    @include icon-number;
}

.icon-number1 {
    @include icon-number;
}

.icon-number2 {
    @include icon-number;
}

.icon-tablet,
.icon-list-bullet,
.icon-store-front {
    font-size: $size-ico+2px;
    color: rgba(73, 72, 72, 0.8);
    margin-right: 20px;
}

.anim-heart{
    position: relative;
    cursor: pointer;
}

.icon-heart-regular{
    font-size: $size-ico+4px;
}

.anim-heart span{
    font-size: $size-ico;
    position: absolute;
    bottom: 2px;
    left: 10px;
}

.icon-heart-solid{
    opacity: 0;
    transition: transform 200ms ease-out;
    transform: scale(0.55);
}

.icon-heart-solid:hover{
    transform: scale(1.2);
    opacity: 1;
    color: red;
}

.nav h1 {
    font-size: 1.4em;
    margin-bottom: 10%;
}

.nav {
    display: flex;
    flex-direction: column;

    & h1 {
        margin-bottom: -5px;
    }

    &-container1 {
        padding-left: 8%;
        padding-right: 21%;
        padding-top: 5%;
        padding-bottom: 5%;
        @include background-light;
        border-radius: 20px;
        border: 0px solid #FFFFFF;
        box-shadow: $box-shadow-btn;
        margin-bottom: 2%;
    }

    &-container2 {
        padding-left: 8%;
        padding-right: 25%;
        padding-top: 5%;
        padding-bottom: 5%;
        @include background-light;
        border-radius: 20px;
        border: 0px solid #FFFFFF;
        box-shadow: $box-shadow-btn;
        margin-bottom: 2%;
    }

    &-container3 {
        padding-left: 8%;
        padding-right: 24%;
        padding-top: 5%;
        padding-bottom: 5%;
        @include background-light;
        border-radius: 20px;
        border: 0px solid #FFFFFF;
        box-shadow: $box-shadow-btn;
        margin-bottom: 20%;
    }

    &-group {
        margin-left: 15px;
        margin-right: 15px;
    }
}

article {
    @include background-light;
    margin: -5px;
    padding-top: 7%;
    margin-bottom: 8%;
    margin-top: -20px;
    padding-bottom: 1%;

    & h1 {
        margin: 5%;
        margin-bottom: -1%;
    }

}

.article {
    padding: 7%;

    &-background1 {
        @include background-box;
    }

    &-image1 {
        @include images-card;
    }

    &-group1 {
        @include box;
    }

    &-icon1 {
        display: flex;
        align-items: flex-end;
    }

    &-heart {
        margin-left: 120px;
    }

    &-group1 h2 {
        font-family: 'robotobold';
        font-size: 1.1em;
    }

    &-group1 p {
        margin-top: -10px;
    }

    &-background2 {
        @include background-box;
    }

    &-image2 {
        @include images-card;
    }

    &-group2 {
        @include box;
    }

    &-icon2 {
        display: flex;
        align-items: flex-end;
    }

    &-group2 h2 {
        font-family: 'robotobold';
        font-size: 1.1em;
    }

    &-group2 p {
        margin-top: -10px;
    }

    &-background3 {
        @include background-box;
    }

    &-image3 {
        @include images-card;
    }

    &-group3 {
        @include box;
    }

    &-icon3 {
        display: flex;
        align-items: flex-end;
    }

    &-heart2 {
        margin-left: 156px;
    }

    &-group3 h2 {
        font-family: 'robotobold';
        font-size: 1.1em;
    }

    &-group3 p {
        margin-top: -10px;
    }

    &-background4 {
        @include background-box;
    }

    &-image4 {
        @include images-card;
    }

    &-group4 {
        @include box;
    }

    &-icon4 {
        display: flex;
        align-items: flex-end;
    }

    &-group4 h2 {
        font-family: 'robotobold';
        font-size: 1.1em;
    }

    &-group4 p {
        margin-top: -10px;
    }
}

footer {
    background-color: $color-footer;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: -10px;
    margin-top: -30px;
    margin-left: -8px;
    margin-right: -8px;

    & a,
    a:visited {
        color: white;
    }

    & img {
        filter: invert(1);
    }

    & li {
        padding-top: 5px;
    }
}

.foot-logo {
    margin-left: 38px;
}

.icon-location-food {
    margin-right: 5px;
}

.icon-user-add {
    margin-right: 5px;
}

/* Page "à la française" */

.head-img {
    object-fit: cover;
    margin-top: 10px;
    margin-left: -8px;
}

.head-container {
    font-family: 'shrikhand';
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include background-light2;
    font-size: 0.8em;
    padding: 25px;
    position: relative;
    margin-top: -20px;
    margin-left: -15px;
    margin-right: -10px;
    border-radius: 40px;
}

.menu {
    margin-left: 10px;
    margin-top: -40px;

    & h1 {
        font-family: 'robotoregular';
        font-weight: 100;
        font-size: 1em;
        margin-left: 0px;
        border-bottom: solid 3px $tertiary;
        width: 40px;
        margin-top: 12%;
        margin-bottom: 15px;
    }

    &-container{
        font-size: 0.8em;
        background-color: white;
        border-radius: 20px;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-bottom: 10px;
        margin-right: 10px;
        box-shadow: $box-shadow-btn;
        cursor: pointer;  
    }

    &-container h2{
        margin-left: 18px;
    }

    &-prix{
        font-family: 'robotobold';
    }

    &-flex{
        display: flex;
        justify-content: space-between;
        margin-top: -30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    &-container2{
        @include container-annexe;
    }

    &-container2 h2{
        margin-left: 18px;
    }

    &-btn{
        position: relative;
        bottom: 25px;
        left: 55px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        @include btn-1;
        width: 53%;
        padding: 12px;
        font-size: 1.1em;
        box-shadow: $box-shadow-btn;
    }

    &-btn:hover{
        background: linear-gradient(lighten($secondary, 5%),$primary);
        box-shadow: 1px 5px 12px -1px darken($box-shadow-color, 50%);
    }

}

/* Animation apparition du menu */

.menu-anim1{
    opacity: 0;
    animation-name: apparition;
    animation-duration: 800ms;
    animation-fill-mode: both;
    transform: translateY(-20px);
    transition: transform 100ms ease-in-out 50ms;
}

.menu-anim2{
    opacity: 0;
    animation-name: apparition;
    animation-duration: 800ms;
    animation-delay: 0.8s;
    animation-fill-mode: both;
    transform: translateY(-20px);
    transition: transform 100ms ease-in-out 50ms;
}

.menu-anim3{
    opacity: 0;
    animation-name: apparition;
    animation-duration: 800ms;
    animation-delay: 1.6s;
    animation-fill-mode: both;
    transform: translateY(-20px);
    transition: transform 100ms ease-in-out 50ms;
}

@keyframes apparition {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }

    15%{
        opacity: .1;
        transform: translateY(-16px);
    }

    25%{
        opacity: .2;
        transform: translateY(-11px);
    }

    45%{
        opacity: .4;
        transform: translateY(-2px);
    }

    85%{
        opacity: .8;
        transform: translateY(0px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
    
}

/* Animation loading spinner */

.loader{
    /* Création du loader */
    opacity: 0;
    border: 10px solid #FFFFFF;
    border-top: 10px solid $primary;
    border-bottom: 10px solid $secondary;
    border-right: 10px solid #FFFFFF;
    border-radius: 50%;
    width : 100px;
    height: 100px;
    animation: spin 1.5s linear infinite;
    transition: opacity 2s ease-in-out;
    animation-fill-mode: forwards;
    /* Placement loader */
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
 
@keyframes spin{

    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }

}

.bloc-page{
    opacity: 0;
    animation: load_page 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes load_page{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}
 
p{
    color: black;
}