/* Variables */
$primary: #9356DC;
$primary2: #9256dc21;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$tertiary2: #008766;
$color-footer: rgb(51, 57, 70);
$background: rgba(233, 233, 233, 0.8);
$background2: rgba(233, 233, 233, 1);
$color-ico: rgba(37, 36, 36, 0.8);
$size-ico: 18px;
$box-shadow-btn: 0px 5px 11px -2px rgba(190, 190, 190, 0.71);
$box-shadow-color: rgba(190, 190, 190, 0.71);