@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?a766zr');
  src:  url('fonts/icomoon.eot?a766zr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?a766zr') format('truetype'),
    url('fonts/icomoon.woff?a766zr') format('woff'),
    url('fonts/icomoon.svg?a766zr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

