/* Footer */

footer {
    background-color: $color-footer;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: -10px;
    margin-top: -30px;
    margin-left: -8px;
    margin-right: -8px;

    & a,
    a:visited {
        color: white;
    }

    & img {
        filter: invert(1);
        object-fit: contain;

        @media (min-width:768px) and (max-width:992px) {
            margin-right: 20px;
        }

        @media (min-width:992px) {
            margin-right: 20px;
        }
    }

    & li {
        padding-top: 5px;

        @media (min-width:768px) and (max-width:992px) {
            margin-right: 25px;
        }

        @media (min-width:992px) {
            margin-right: 25px;
        }
    }

    @media (min-width:768px) and (max-width:992px) {
        display: flex;
        justify-content: center;
    }

    @media (min-width:992px) {
        display: flex;
        justify-content: center;
    }
}

.foot-logo {
    margin-left: 38px;

    @media (min-width:768px) and (max-width:992px) {
        display: flex;
        align-items: center;
    }

    @media (min-width:992px) {
        display: flex;
        align-items: center;
    }
}

.icon-location-food {
    margin-right: 5px;
}

.icon-user-add {
    margin-right: 5px;
}

.menu {
    padding-bottom: 20px;
}
input[type="radio"]:checked+.menu-container {

    .icon-checkmark-outline {
        transform: rotate(360deg);
    }

    >.bg-anim {
        opacity: 1;
        width: 80px;
    }

    >.menu-text .menu-prix {
        transform: translate(-80px);
    }

    >.menu-text .title,
    .menu-soustitre {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 200px;
        display: block;
        
       
        @media (min-width:768px) and (max-width:992px) {
            overflow: visible;
        }

        @media (min-width:992px) {
            overflow: visible;
        }
    }
}