/* Nav */

.icon-number1 {
    @include icon-number;

    @media (min-width:768px) and (max-width:992px) {
        @include icon-number-tablet;
    }

    @media (min-width:992px) {
        @include icon-number-desk;
    }
}

.icon-number2 {
    @include icon-number;

    @media (min-width:768px) and (max-width:992px) {
        @include icon-number-tablet;
    }

    @media (min-width:992px) {
        @include icon-number-desk;
    }
}

.icon-tablet,
.icon-list-bullet,
.icon-store-front {
    font-size: $size-ico+2px;
    color: rgba(73, 72, 72, 0.8);
    margin-right: 20px;
    margin-top: 18px;
}

.anim-heart,
.anim-heart-index {
    position: relative;
    cursor: pointer;
}

.icon-heart-regular {
    font-size: $size-ico+2px;
}

.anim-heart-index span {
    font-size: $size-ico;
    position: absolute;
    bottom: 2px;
}

.anim-heart span {
    font-size: $size-ico;
    position: absolute;
    bottom: -8px;
}

.nav h1 {
    font-size: 1.4em;
    margin-bottom: 10%;
}

.nav {
    display: flex;
    flex-direction: column;

    @media (min-width:768px) and (max-width:992px) {
        margin-left: 1%;
    }

    & h1 {
        margin-bottom: -5px;
    }

    &-container1 {
        padding-left: 8%;
        padding-right: 21%;
        padding-top: 5%;
        padding-bottom: 5%;
        @include background-light;
        border-radius: 20px;
        border: 0px solid #FFFFFF;
        box-shadow: $box-shadow-btn;
        margin-bottom: 2%;
        cursor: pointer;


        & a {
            display: flex;

            @media (min-width:768px) and (max-width:992px) {
                justify-content: center;
                margin-left: 15%;
            }

            @media (min-width:992px) {
                justify-content: center;
                margin-left: 15%;
            }

        }
    }

    &-container2 {
        padding-left: 8%;
        padding-right: 25%;
        padding-top: 5%;
        padding-bottom: 5%;
        @include background-light;
        border-radius: 20px;
        border: 0px solid #FFFFFF;
        box-shadow: $box-shadow-btn;
        margin-bottom: 2%;
        cursor: pointer;

        & a {
            display: flex;
            flex-direction: row;

            @media (min-width:768px) and (max-width:992px) {
                justify-content: center;
                margin-left: 20%;
            }

            @media (min-width:992px) {
                justify-content: center;
                margin-left: 21.5%;
            }


        }

    }

    &-container3 {
        padding-left: 8%;
        padding-right: 24%;
        padding-top: 5%;
        padding-bottom: 5%;
        @include background-light;
        border-radius: 20px;
        border: 0px solid #FFFFFF;
        box-shadow: $box-shadow-btn;
        margin-bottom: 20%;
        cursor: pointer;

        @media (min-width:992px) {
            margin-bottom: 10%;
        }

        & a {
            display: flex;

            @media (min-width:768px) and (max-width:992px) {
                justify-content: center;
                margin-left: 20%;
            }

            @media (min-width:992px) {
                justify-content: center;
                margin-left: 21%;
            }

        }

    }

    &-group {
        margin-left: 15px;
        margin-right: 15px;
    }
}

/* Animation hover boutons principaux */

.nav-container1:hover, .nav-container2:hover, .nav-container3:hover{
    background: $primary2;
    box-shadow: 1px 5px 12px -1px darken($box-shadow-color, 10%);

    & .icon-tablet{
        color: $primary;
        filter: brightness(70%);
    }

    & .icon-list-bullet{
        color: $primary;
        filter: brightness(70%);
    }

    & .icon-store-front{
        color: $primary;
        filter: brightness(70%);
    }
}